.header {
  background-color: rgba(255, 255, 255, 1);
  width: 100%;
  height: 93px;
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
}

.container {
  display: flex;
  justify-content: space-between;
}

.logo {
  margin-left: 60px;
}

.nav {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
}

.nav_p {
  margin: 38px 25px;
  cursor: pointer;
}

.user_panel_off {
  margin-top: 33px;
  margin-right: 60px;
  height: 26px;
  display: flex;
  justify-content: space-between;
}

.slash {
  width: 2px;
  height: 26px;
  margin: 0 20px;
}

.signup {
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 0.4);
  font-weight: 400;
  cursor: pointer;
}

.login {
  width: 65px;
  height: 26px;
  background-color: rgba(124, 227, 225, 1);
  border-radius: 5px;
  border-color: rgba(124, 227, 225, 1);
  outline: none;
  border: none;
  font-weight: 500;
  color: rgba(0, 0, 0, 1);
  cursor: pointer;
}

.user_panel_on {
  display: flex;
}

.user_stats {
  width: 175px;
  height: 63px;
  background-color: rgba(217, 217, 217, 0.3);
  margin: 15px;
  border-radius: 5px;
}

.companies_limit {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  text-align: right;

  color: rgba(0, 0, 0, 0.4);

  display: flex;
  margin-top: 10px;
}

.companies_used {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  text-align: right;

  color: rgba(0, 0, 0, 0.4);

  display: flex;
  margin-top: 10px;
}

.cl_text {
  width: 75%;
  margin-right: 9px;
}

.cu_text {
  width: 75%;
  margin-right: 9px;
}

.cu_counter {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: rgba(0, 0, 0, 1);
  text-align: left;
}

.cl_counter {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: rgba(138, 197, 64, 1);
  text-align: left;
}

.user_profile {
  display: flex;
  margin: 30px 60px 31px 128px;
}

.user_profile_text {
  text-align: right;
  margin-right: 4px;
}

.user_name {
  margin-bottom: 3px;
}

.logout_text {
  font-size: 10px;
  line-height: 12px;
}

.user_pic {
  width: 32px;
  height: 32px;
}
