.search_result {
  width: 100vw;
}

.banner {
  display: flex;
  justify-content: space-between;
  text-align: left;
}

.banner_heading {
  font-family: 'Ferry Black';
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: normal;
  letter-spacing: 1.6px;

  margin: 69px 60px 36px 60px;
}

.banner_subtitle {
  font-size: 20px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.4px;

  margin-left: 60px;
}

.searching_img {
  width: 553px;
  height: 369px;
  margin: 25px 103px -18px 0px;
}

.general_slider {
  text-align: left;
  margin: 20px;
}

.slider_heading {
  font-family: 'Ferry Black';
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: normal;
  letter-spacing: 0.6px;

  width: 447px;
  margin-left: 60px;
}

.publication_qty {
  color: rgba(148, 148, 148, 1);
  font-size: 18px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.36px;

  margin: 17px 0px 27px 60px;
}

.slider_carousel {
  display: flex;
  width: 94%;
  margin-left: 51px;
}

.arrow {
  width: 39px;
  height: 39px;
  margin: auto;
  cursor: pointer;
}

.slider_inside {
  max-width: 96%;
  border: 2px solid rgba(2, 148, 145, 1);
  border-radius: 10px;
}

.carousel_start {
  position: absolute;
  background-color: rgba(2, 148, 145, 1);
  width: 133px;
  height: 138px;
  color: white;
}

.carousel_p {
  margin: 17px 27px 9px 28px;
  font-size: 20px;
}

.slider_cards {
  margin-left: 136px;
  text-align: center;
}

.slide_wrapper {
  margin: 0px;
}

.slider_card {
  width: 7vw;
  height: 104px;
  margin: 17px 0px;
  padding: 0px 8px;
  border-right: 2px solid rgba(148, 148, 148, 0.8);
}

.card_p {
  margin: 17px 0px 9px 0px;
}

.docs_list {
  padding: 30px;
}

.docs_heading {
  font-family: 'Ferry Black';
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: normal;
  letter-spacing: 0.6px;
  text-align: left;

  margin: 107px 60px 36px 60px;
}

.docs_grid {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-around;
}

.doc_block {
  width: 581px;
  height: 694px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  margin: 30px;
  padding: 0 30px;
}

.doc_toptitles {
  display: flex;
  color: rgba(148, 148, 148, 1);
  font-size: 16px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.32px;

  margin-top: 19px;
  margin-bottom: 24px;
}

.doc_date {
  margin-right: 14px;
}

.doc_source {
  text-decoration: underline;
  cursor: pointer;
}

.doc_source:hover {
  color: rgba(2, 148, 145, 1);
}

.doc_content {
  text-align: left;
}

.doc_title {
  width: 546px;
  height: 62px;
  font-size: 26px;
  font-weight: 500;
  letter-spacing: 0.52px;
}

.doc_category {
  width: 157px;
  height: 22px;
  text-align: center;
  padding-top: 4px;
  margin: 14px 0;
  border-radius: 5px;
  background: rgba(255, 182, 79, 1);

  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.24px;
}

.doc_img {
  width: 581px;
  height: 158px;
}

.doc_text {
  width: 581px;
  opacity: 0.5;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.32px;

  margin-top: 20px;
}

.doc_lowerpart {
  margin-top: 32px;
  margin-bottom: 35px;
  display: flex;
  justify-content: space-between;
  letter-spacing: 0.32px;
  font-weight: 400;
  font-size: 16px;
}

.doc_readbtn {
  width: 223px;
  height: 46.539px;
  border-radius: 5px;
  background-color: rgba(124, 227, 225, 1);
  border: none;
  cursor: pointer;
}

.doc_readbtn:hover {
  background-color: rgba(2, 148, 145, 1);
  box-shadow: 3px 3px 2px 1px rgba(2, 148, 145, 0.3);
  color: white;
}

.doc_words {
  margin-top: 28px;
  color: #949494;
}

.docs_morebtn {
  width: 305px;
  height: 59px;
  border-radius: 5px;
  border: none;
  background: rgba(89, 112, 255, 1);
  cursor: pointer;

  color: rgba(255, 255, 255, 1);
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 0.88px;

  margin-top: 35px;
  margin-bottom: 79px;
}

.docs_morebtn:hover {
  background-color: rgba(2, 148, 145, 1);
  box-shadow: 3px 3px 2px 1px rgba(2, 148, 145, 0.3);
}
